<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>!</h1>
    <h2>Thank you for your booking</h2>
    <hr>
    <h2>Tour name: <%= @booking.calendar.tour.name %></h2>

  </body>
</html>