<div class="modal fade" id="how" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class='modal-header'>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <br>
      </div>
      <div class="modal-body">
        <div class='container' id='how'>
          <div class='col-md-5'>
            <img alt="Logo" src="/assets/discover.png" height= '200' width='300'/>
          </div>
          <div class='col-md-7'>
            <h2>Discover amazing things all around you</h2>
            <h4>Have you ever wondered who used to live at the house on the corner? Or what was stored in that old warehouse? Every neighbourhood has stories to tell and clues about the past. Book a tour and let a local be your guide.  </h4>
            <br>
            <br>
          </div>
        </div>
    </div>
  </div>
</div>