<div class="modal fade" id="how" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class='modal-header'>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <br>
      </div>
      <div class="modal-body">
        <div class='container' id='how'>
<!--           <div class='col-md-5'>
            <img alt="Logo" src="/assets/discover.png" height= '200' width='300'/>
          </div> -->
          <div class='col-md-12'>
            <h2>Discover amazing things all around you</h2>
            <br>
            <h4>Querla is a place where you can find walking tours hosted by local people, or you can sign up to host a tour yourself. Our tours are very diverse, including architecture, gardens, local communities and much more. Ever wondered about that old warehouse down the street and what it was used for? Maybe now you can find out.</h4>
            <br>

            <h4>Querla Tours are suitable for tourists who want to get off the beaten track, but also for local people who are interested to discover something new about their neighborhood. Our guides are people who have a passion and want to share it.</h4>
            <br>

            <h4>To come on a tour, simply browse our listings on this site, find a suitable date and sign up! If you can’t find a date that suits you, let us know. To host a tour, fill in the contact form and tell us what you’re interested in.</h4>
            <br>
            <br>
          </div>
        </div>
    </div>
  </div>
</div>