<div class='container-fluid'>

<div class='col-md-1'>
  </div>
  
  <div class='col-md-10'>
    <div class='row'>
      <h2>About Us</h2>
    </div>
    <div class='row'>
      <p>Founded in 2015 and based in London, UK.</p>   
      <p>YourTour is a new way to discover and enjoy walking tours provided by local guides. All our guides are passionate experts that will give you a fascinating window into the world around you</p>
    </div>
  </div>
  
  <div class='col-md-1'>
  </div>
                         


</div>