<div class='container-fluid'>

<div class='col-md-1'>
  </div>
  
  <div class='col-md-10'>
    <div class='row'>
      <h2>About Us</h2>
    </div>
    <div class='row'>
      <p>Querla was founded in 2015 and is based in London UK.</p>  
      <br>
      <p>For curious minded people, Querla is a new way to discover neighbourhoods and hear stories that don't typically get attention. All our guides are local people with a passion that they want to share. Come away with a warm feeling and a sense of having discovered something wonderful.</p>
    </div>
  </div>
  
  <div class='col-md-1'>
  </div>
                         


</div>