<div class='container'>


    <div class="row">
        <div class='col-md-4'></div>
        <div class='col-md-4'>
          <h2>Thanks for your interest in hosting a tour</h2>
          <h3>Tell us a bit about yourself!</h3>
          <h2></h2>
          <p>* All fields required</p>
          <br>
          <div class="panel panel-info">
            <div class="panel-body">
                <%= render 'tickets/form' %>
            </div>
          </div>
        </div>
    </div>
  
</div>