<div class="container-fluid">
  <div class="row">
    <div class="span12">
      <h1>Your Local Guide</h1>
      <h2>Discover the world the way others see it</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
    </div>
  </div>
  
  <div class="row">
    <% @tours.each do |tour| %>
      <div class="col-md-4" >
        <%= link_to(image_tag(tour.tour_image.url(:square)), tour_path(tour.id)) %>
      </div>
		<% end %>
  </div>

</div>
    


    




