<h1>Welcome#index</h1>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p>Your Local Guide</p>
      <p>Discover the world the way others see it</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-default" type="submit">Button</button>
    </div>
  </div>
  <div class="row">
    <% @tours.each do |tour| %>
      <div class="col-md-1" >
          <p class="bg-primary">Test</p>
			    <img src=<%= tour.tour_image.url(:square) %> class="img-responsive" alt="Responsive image"></img>
      </div>
		<% end %>
  </div>
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</div>
