<h1>Welcome#index</h1>


<div class="container-fluid">
  <div class="row">
    <div class="span12">
      <p>Your Local Guide</p>
      <p>Discover the world the way others see it</p>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
    </div>
  </div>
  
  <div class="row">
    <% @tours.each do |tour| %>
      <div class="col-md-4" >
			    <img src=<%= tour.tour_image.url(:square) %>></img>
      </div>
		<% end %>
  </div>

</div>
    


    




