<h1>Your Bookings</h1>

<div class='media'>
  <div class='media-body'>
     <table class='table table-hover'>
        <thead>
          <tr>
            <th>Tour</th>
            <th>Date</th>
            <th>User Email</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @user_bookings.each do |booking| %>
            <tr>
              <td><%= booking.calendar.tour.name %></td>
              <td><%= booking.calendar.calendar_datetime %></td>
              <td><%= booking.user.email %></td>
              <td><%= link_to 'View Details', booking, class: 'btn btn-mini'  %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>

<p>Need to cancel? Please email us on xxxxx</p>

<br>
