<div class='container'>


    <div class="row">
        <div class='col-md-4'></div>
        <div class='col-md-4'>
          <h2>Contact Us</h2>
          <h2></h2>
          <p>* All fields required</p>
          <br>
          <div class="panel panel-info">
            <div class="panel-body">
                <%= render 'form' %>
            </div>
          </div>
        </div>
    </div>
  
</div>
